/* By the way I got the styles from my old projects 😉*/

.sidenav {
  height: 100%;
  width: 17%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282c34;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: white;
  background-color: #111;
  text-decoration: none;
}

.main {
  margin-left: 17%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
